<body>

    <table align="center" border="1">
        <tr>
            <td>Name</td>
            <td><input type="text" name="Name" [(ngModel)]="this.employee.name"/></td>
        </tr>
        <tr>
            <td>EmailAddress</td>
            <td><input type="text" name="EmailAddress" [(ngModel)]="this.employee.email" /></td>
        </tr>
        <tr>
            <td>Salary</td>
            <td><input type="text" name="salary" [(ngModel)]="this.employee.salary" /></td>
        </tr>
        <tr>
            <td>Gender</td>
            <td>
                <select name="gender" placeholder="gender" [(ngModel)]="this.employee.gender">
                    <option value="" selected>Select Gender</option>
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                    <option value="Others">Others</option>
                </select>
            </td>
        </tr>
        
        <tr>
            <td>city</td>
            <td><input type="text" name="city" [(ngModel)]="this.employee.city"/></td>
        </tr>
        
        <tr>
            <td>country</td>
            <td>
                <select name="gender" [(ngModel)]="this.employee.country">
                    <option value="" selected>Select Gender</option>
                    <option value="india">india</option>
                    <option value="izaril">izaril</option>
                    <option value="Russia">Russia</option>
                    <option value="others">others</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>Password</td>
            <td><input type="password" name="Password" [(ngModel)]="this.employee.password"/></td>
        </tr>
        <tr>
            <td>
                <button (click)="submit()">employee details</button> 
            </td>
        </tr>
    </table>
</body>