ID:<input type="text" placeholder="Enter your id" [(ngModel)]="this.person.id"/><br/><br/>
Name:<input type="text" placeholder="Enter your Name" [(ngModel)]="this.person.name"/><br/>
Salary:<input type="text" placeholder="Enter your salary" [(ngModel)]="this.person.salary"/><br/>



<h1>test2 works!</h1>
<h3>Id: {{person.id}}</h3>
<h3>Name: {{person.name}}</h3>
<h3>Salary: {{person.salary}}</h3> <br/>

<b><u>Address</u></b><br/>
StreetNo: {{person.address.streetNo}} <br/>
City: {{person.address.city}} <br/>
State: {{person.address.state}} <br/><br/>

<b><u>Hobbies</u></b><br/>
<ul>
    <li *ngFor="let hobby of person.hobbies"> {{hobby}} </li>
</ul>

<button (click)="buttonSubmit()">Click Me!</button>