<h2 align="center">Employee List</h2>
    <table border='2' align="center">
        <thead>
            <tr>
                <th>EmpId</th>
                <th>EmpName</th>
                <th>Salary</th>
                <th>Gender</th>
                <th>DOJ</th>
                <th>Country</th>
                <th>Email-Id</th>
                <th>Password</th>

            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let employee of employees">
                <td>{{employee.empId}}</td>
                <td>{{employee.empName}}</td>
                <td>{{employee.salary}}</td>
                <td>{{employee.gender}}</td>
                <td>{{employee.doj}}</td>
                <td>{{employee.country}}</td>
                <td>{{employee.emailId}}</td>
                <td>{{employee.password}}</td>

            </tr>
        </tbody>
    </table>
     <button (click)="submit()">Employees</button>