<h1>ramya don consultancy</h1>

Id:{{id}} <br/>
Name :{{name}} <br/>
Avg : {{avg}} <br/>

<b><u>Address</u></b> <br/>
streetNo: {{address.streetNo}} <br/>
city : {{address.city}}<br/>
state : {{address.state}} <br/>


<b><u>Address</u></b> <br/>
<ol>
    <li *ngFor="let hobby of hobbies">{{hobby}}</li>
</ol>